@use '../../../styles/index.sass' as *

.card_body
    padding: 2rem
    width: 100%
    text-align: center
    background-color: $white
    border-radius: 25px
    @include flexIten(column, center)
    gap: 2rem
    min-height: 490px
    img
        width: 100%
        border-radius: 30px
