@use '../../../styles/index.sass' as *

.section_settigns
  @include flexIten(column, center)
  padding: 0 .8rem
  gap: 2rem
  width: 100%

  .container_menu_settigns
    width: 100%
    @include flexIten(row, space-evenly)
    flex-wrap: wrap
    gap: 1rem

    .menu_item
      display: flex
      align-items: center
      gap: 0.5rem
      font-weight: 500
      font-size: 1rem
      text-decoration: none

  .form_settigns
    @include flexIten(column, center)
    gap: 1.5rem
    width: 100%

    .input_container
      @include flexIten(column, start)
      align-items: start
      width: 100%
      gap: 1rem

    .password_section
      @include flexIten(column, start)
      align-items: start
      width: 100%
      gap: 1rem


    .btn_settigns
      background-color: $pink
      width: 100%
      padding: 1rem 2rem
      height: 71px
      border-radius: 50px
      font-size: 18px
      font-weight: 600
      color: $white
      cursor: pointer
      margin-top: 2rem

@media (min-width: 992px)
  .section_settigns
    padding: 2rem 1.5rem
    width: 100%

    .container_menu_settigns
      justify-content: flex-start
      gap: 2rem

@media (min-width: 1200px)
  .section_settigns
    @include flexIten(row, space-between)
    align-items: start

    .container_menu_settigns
      flex-direction: column
      align-items: start
      width: 25%
      padding: 1rem
      gap: 1.5rem
      background-color: $gray
      border-radius: 25px

      .menu_item
        display: flex
        align-items: center
        background-color: $white_low_opacity
        width: 100%
        gap: 1rem
        padding: 1.25rem
        text-decoration: none
        transition: all .3s ease
        border-radius: 30px
        border: 2px solid transparent

        span, i
          color: $blue

        &:hover
          border-color: $pink
          span, i
            color: $pink

    .form_settigns
      width: 70%
      align-items: end

      .btn_settigns
        width: 50%
