@use '../../../../styles/index.sass' as *

.section_history
    width: 100%
    .lineTitle
        width: 100%
        display: flex
        align-items: center
        margin-bottom: 1.5rem
        h4
            width: 30%

    .lineTitle::after
        display: block
        content: ''
        width: 70%
        height: 2px
        border-radius: 10px
        background-color: $pink_second

    .container_history
        padding: 1.25rem
        @include flexIten(column, center)
        background-color: $gray
        border-radius: 25px

        .history_table
            width: 100%
            border-collapse: collapse

            th, td
                padding: 1rem 0

            .positive
                color: #28a745
                font-weight: 500
                
                &::before
                    content: "+"
                    margin-right: 2px

            .negative
                color: #dc3545
                font-weight: 500
                &::before
                    content: "-"
                    margin-right: 2px

@media (min-width: 992px)

@media (min-width: 1200px)
